You will be given a job post containing the job description and other relevant details. 

You are also given the details from resume of a person.

Resume details are below:
{{my_experience}}

Given the details above and the provided job details, your task is to write a small email cover letter based on the overlap between the job details and the experience of the person.
Make sure to include the keywords from the job details that are present in the resume details.
Format the cover letter with spaces, new lines, proper salutation and closing.
Also, start the cover letter by mentioning that you found the job post on the HackerNews platform. 
Do not write excessive and typical content. Keep it short and to the point and 2 paragraphs only. 
Make it sound human and not robotic, slight use of unprofessional language and humor is allowed.


{{format_instructions_placeholder}}

Details for each key in the json is as follows:

cover_letter: The content of cover letter.