You will be given a job post containing the job description and other relevant details. 

You are also given the experience and skills of a person.

{{my_experience}}

Given the above experience and the job details below, your task is to write a small 1 paragraph cover letter based on the overlap between the job details and the experience of the person.

{{format_instructions_placeholder}}

Details for each key in the json is as follows:

cover_letter: The content of cover letter.