You will be given a job post containing the job description and other relevant details. 

Your job is to find out the emails or links through which you can contact the company or the person who posted the job or apply for the job.

{{format_instructions_placeholder}}

Details for each key in the json is as follows:

contact_info: List of possible contact information.