You will be given a job post containing the job description and other relevant details. 

Your job is to find out whether the role is for a frontend, backend, full-stack developer, Ai engineer, etc

{{format_instructions_placeholder}}

Details for each key in the json is as follows:

roles: List of roles.