You will be given a job post containing the job description and other relevant details. 

Your job is to output whether the job allows fully remote work or not.

{{format_instructions_placeholder}}

Details for each key in the json is as follows:

allows_remote_work: A boolean value indicating whether the job allows remote work or not.