You will be given a job post containing the job description and other relevant details. 

Your job is to extract a list of all technology related keywords from it.
keywords should be, programming languages, frameworks, tools, etc.

{{format_instructions_placeholder}}

Details for each key in the json is as follows:

keywords: List of keywords.