You will be given a job post containing the job description and other relevant details. 

Your job is to extract a list of all technologies from it.
Example of technologies are given below. 
Frontend technologies:
'javascript', 'js', 'html', 'css', 'react', 'angular', 'vue', 'React.JS', 'reactjs', 'typescript', 'scss', 'sass',

Backend technologies:
'python', 'java', 'cpp', 'node', 'node.js', 'nodejs', 'express', 'django', 'flask', 'php', 'ruby', 'swift', 'kotlin', 
'c', 'C++', 'c++', 'cpp', 'go', 'golang', 'nestjs', 'spring', 'spring boot', 'laravel', 'ruby on rails', 'ror', 
'express.js', 'expressjs', 'rust',

Database technologies:
'sql', 'mysql', 'postgresql', 'mongodb', 'redis', 'sqlite', 'oracle', 'mariadb', 'cassandra', 'dynamodb', 'postgres',

AI/ML technologies:
'tensorflow', 'pytorch', 'ai', 'ml', 'llm', 'llms', 'deep learning', 'machine learning', 'artificial intelligence', 
'natural language processing', 'computer vision', 'reinforcement learning', 'generative ai', 'cv', 'nlp',

Cloud technologies:
'aws', 'azure', 'gcp'

{{format_instructions_placeholder}}

Details for each key in the json is as follows:

keywords: List of technologies.